@import "./reset";
@import "./scrollbar";
@import "./typography";
@import "./alignment";

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #17252A;
}

.container {
    padding: 0 15px;
}
